.acButton {
  border: none;
  cursor: pointer;
  color: var(--color-primary-text);
  border-radius: var(--size-4);
  transition: var(--transition-main);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: var(--size-4);
  -moz-border-radius: var(--size-4);
  -webkit-transition: var(--transition-main);
  -moz-transition: var(--transition-main);
  -ms-transition: var(--transition-main);
  -o-transition: var(--transition-main);
}

/* Size SM */

.acButton.contained.sizeSm,
.acButton.outlined.sizeSm,
.acButton.ghost.sizeSm,
.acButton.text.sizeSm,
.acButton.link.sizeSm {
  font-size: var(--size-14);
  line-height: var(--size-20);
  -webkit-font-size: var(--size-14);
  -moz-font-size: var(--size-14);
  -ms-font-size: var(--size-14);
  font-size: var(--size-14);
  -webkit-line-height: var(--size-20);
  -moz-line-height: var(--size-20);
  -ms-line-height: var(--size-20);
  line-height: var(--size-20);
}

.acButton.contained.sizeSm,
.acButton.outlined.sizeSm,
.acButton.ghost.sizeSm {
  height: var(--size-40);
  padding: 0 var(--size-16);
  -webkit-height: var(--size-40);
  -moz-height: var(--size-40);
  -ms-height: var(--size-40);
  height: var(--size-40);
  -webkit-padding: 0 var(--size-16);
  -moz-padding: 0 var(--size-16);
  -ms-padding: 0 var(--size-16);
  padding: 0 var(--size-16);
}

.acButton.iconButton.sizeSm {
  width: var(--size-40);
  height: var(--size-40);
  -webkit-width: var(--size-40);
  -moz-width: var(--size-40);
  -ms-width: var(--size-40);
  width: var(--size-40);
  -webkit-height: var(--size-40);
  -moz-height: var(--size-40);
  -ms-height: var(--size-40);
  height: var(--size-40);
}

.acButton.iconButton.sizeXs {
  width: var(--size-28);
  height: var(--size-28);
  -webkit-width: var(--size-28);
  -moz-width: var(--size-28);
  -ms-width: var(--size-28);
  width: var(--size-28);
  -webkit-height: var(--size-28);
  -moz-height: var(--size-28);
  -ms-height: var(--size-28);
  height: var(--size-28);
}

.acButton.sizeXs {
  font-size: var(--size-10);
  line-height: var(--size-12);
}

/* Size MD */

.acButton.contained.sizeMd,
.acButton.outlined.sizeMd,
.acButton.ghost.sizeMd,
.acButton.text.sizeMd,
.acButton.link.sizeMd {
  font-size: var(--size-16);
  line-height: var(--size-24);
  -webkit-font-size: var(--size-16);
  -moz-font-size: var(--size-16);
  -ms-font-size: var(--size-16);
  font-size: var(--size-16);
  -webkit-line-height: var(--size-24);
  -moz-line-height: var(--size-24);
  -ms-line-height: var(--size-24);
  line-height: var(--size-24);
}

.acButton.contained.sizeMd,
.acButton.outlined.sizeMd,
.acButton.ghost.sizeMd {
  height: var(--size-48);
  padding: 0 var(--size-24);
  -webkit-height: var(--size-48);
  -moz-height: var(--size-48);
  -ms-height: var(--size-48);
  height: var(--size-48);
  -webkit-padding: 0 var(--size-24);
  -moz-padding: 0 var(--size-24);
  -ms-padding: 0 var(--size-24);
  padding: 0 var(--size-24);
}

.acButton.iconButton.sizeMd {
  width: var(--size-48);
  height: var(--size-48);
  -webkit-width: var(--size-48);
  -moz-width: var(--size-48);
  -ms-width: var(--size-48);
  width: var(--size-48);
  -webkit-height: var(--size-48);
  -moz-height: var(--size-48);
  -ms-height: var(--size-48);
  height: var(--size-48);
}

/* Size LG */

.acButton.contained.sizeLg,
.acButton.outlined.sizeLg,
.acButton.ghost.sizeLg,
.acButton.text.sizeLg,
.acButton.link.sizeLg {
  font-size: var(--size-18);
  line-height: var(--size-28);
  -webkit-font-size: var(--size-18);
  -moz-font-size: var(--size-18);
  -ms-font-size: var(--size-18);
  font-size: var(--size-18);
  -webkit-line-height: var(--size-28);
  -moz-line-height: var(--size-28);
  -ms-line-height: var(--size-28);
  line-height: var(--size-28);
}

.acButton.contained.sizeLg,
.acButton.outlined.sizeLg,
.acButton.ghost.sizeLg {
  height: var(--size-56);
  padding: 0 var(--size-32);
  -webkit-height: var(--size-56);
  -moz-height: var(--size-56);
  -ms-height: var(--size-56);
  height: var(--size-56);
  -webkit-padding: 0 var(--size-32);
  -moz-padding: 0 var(--size-32);
  -ms-padding: 0 var(--size-32);
  padding: 0 var(--size-32);
}

.acButton.iconButton.sizeLg {
  width: var(--size-56);
  height: var(--size-56);
  -webkit-width: var(--size-56);
  -moz-width: var(--size-56);
  -ms-width: var(--size-56);
  width: var(--size-56);
  -webkit-height: var(--size-56);
  -moz-height: var(--size-56);
  -ms-height: var(--size-56);
  height: var(--size-56);
}

/* Icon Left */

/* SM */
.acButton.contained.sizeSm.iconLeft,
.acButton.outlined.sizeSm.iconLeft,
.acButton.ghost.sizeSm.iconLeft,
.acButton.loading.sizeSm {
  padding-left: var(--size-8);
  padding-right: var(--size-16);
  -webkit-padding-left: var(--size-8);
  -moz-padding-left: var(--size-8);
  -ms-padding-left: var(--size-8);
  padding-left: var(--size-8);
  -webkit-padding-right: var(--size-16);
  -moz-padding-right: var(--size-16);
  -ms-padding-right: var(--size-16);
  padding-right: var(--size-16);
}

.acButton.contained.sizeSm.iconLeft figure,
.acButton.outlined.sizeSm.iconLeft figure,
.acButton.ghost.sizeSm.iconLeft figure {
  margin-right: var(--size-4);
  -webkit-margin-right: var(--size-4);
  -moz-margin-right: var(--size-4);
  -ms-margin-right: var(--size-4);
  margin-right: var(--size-4);
}

/* MD */
.acButton.contained.sizeMd.iconLeft,
.acButton.outlined.sizeMd.iconLeft,
.acButton.ghost.sizeMd.iconLeft,
.acButton.loading.sizeMd {
  padding-left: var(--size-16);
  padding-right: var(--size-24);
  -webkit-padding-left: var(--size-16);
  -moz-padding-left: var(--size-16);
  -ms-padding-left: var(--size-16);
  padding-left: var(--size-16);
  -webkit-padding-right: var(--size-24);
  -moz-padding-right: var(--size-24);
  -ms-padding-right: var(--size-24);
  padding-right: var(--size-24);
}

.acButton.contained.sizeMd.iconLeft figure,
.acButton.outlined.sizeMd.iconLeft figure,
.acButton.ghost.sizeMd.iconLeft figure {
  margin-right: var(--size-8);
  -webkit-margin-right: var(--size-8);
  -moz-margin-right: var(--size-8);
  -ms-margin-right: var(--size-8);
  margin-right: var(--size-8);
}

/* LG */
.acButton.contained.sizeLg.iconLeft,
.acButton.outlined.sizeLg.iconLeft,
.acButton.ghost.sizeLg.iconLeft,
.acButton.loading.sizeLg {
  padding-left: var(--size-24);
  padding-right: var(--size-32);
  -webkit-padding-left: var(--size-24);
  -moz-padding-left: var(--size-24);
  -ms-padding-left: var(--size-24);
  padding-left: var(--size-24);
  -webkit-padding-right: var(--size-32);
  -moz-padding-right: var(--size-32);
  -ms-padding-right: var(--size-32);
  padding-right: var(--size-32);
}

.acButton.contained.sizeLg.iconLeft figure,
.acButton.outlined.sizeLg.iconLeft figure,
.acButton.ghost.sizeLg.iconLeft figure {
  margin-right: var(--size-12);
  -webkit-margin-right: var(--size-12);
  -moz-margin-right: var(--size-12);
  -ms-margin-right: var(--size-12);
  margin-right: var(--size-12);
}

/* Icon right */

/* SM */
.acButton.contained.sizeSm.iconRight,
.acButton.outlined.sizeSm.iconRight,
.acButton.ghost.sizeSm.iconRight {
  padding-right: var(--size-8);
  padding-left: var(--size-16);
  -webkit-padding-right: var(--size-8);
  -moz-padding-right: var(--size-8);
  -ms-padding-right: var(--size-8);
  padding-right: var(--size-8);
  -webkit-padding-left: var(--size-16);
  -moz-padding-left: var(--size-16);
  -ms-padding-left: var(--size-16);
  padding-left: var(--size-16);
}

.acButton.contained.sizeSm.iconRight figure,
.acButton.outlined.sizeSm.iconRight figure,
.acButton.ghost.sizeSm.iconRight figure {
  margin-left: var(--size-4);
  -webkit-margin-left: var(--size-4);
  -moz-margin-left: var(--size-4);
  -ms-margin-left: var(--size-4);
  margin-left: var(--size-4);
}

/* MD */
.acButton.contained.sizeMd.iconRight,
.acButton.outlined.sizeMd.iconRight,
.acButton.ghost.sizeMd.iconRight {
  padding-right: var(--size-16);
  padding-left: var(--size-24);
  -webkit-padding-right: var(--size-16);
  -moz-padding-right: var(--size-16);
  -ms-padding-right: var(--size-16);
  padding-right: var(--size-16);
  -webkit-padding-left: var(--size-24);
  -moz-padding-left: var(--size-24);
  -ms-padding-left: var(--size-24);
  padding-left: var(--size-24);
}

.acButton.contained.sizeMd.iconRight figure,
.acButton.outlined.sizeMd.iconRight figure,
.acButton.ghost.sizeMd.iconRight figure {
  margin-left: var(--size-8);
  -webkit-margin-left: var(--size-8);
  -moz-margin-left: var(--size-8);
  -ms-margin-left: var(--size-8);
  margin-left: var(--size-8);
}

/* LG */
.acButton.contained.sizeLg.iconRight,
.acButton.outlined.sizeLg.iconRight,
.acButton.ghost.sizeLg.iconRight {
  padding-right: var(--size-24);
  padding-left: var(--size-32);
  -webkit-padding-right: var(--size-24);
  -moz-padding-right: var(--size-24);
  -ms-padding-right: var(--size-24);
  padding-right: var(--size-24);
  -webkit-padding-left: var(--size-32);
  -moz-padding-left: var(--size-32);
  -ms-padding-left: var(--size-32);
  padding-left: var(--size-32);
}

.acButton.contained.sizeLg.iconRight figure,
.acButton.outlined.sizeLg.iconRight figure,
.acButton.ghost.sizeLg.iconRight figure {
  margin-left: var(--size-12);
  -webkit-margin-left: var(--size-12);
  -moz-margin-left: var(--size-12);
  -ms-margin-left: var(--size-12);
  margin-left: var(--size-12);
}

/* states */

/* Contained Button Hover */
.acButton.contained:hover,
.acButton.contained:-webkit-any-link:hover,
.acButton.contained:-webkit-any-link:focus {
  background-color: var(--color-primary-light);
}

/* Outlined Button Hover */
.acButton.outlined:hover,
.acButton.ghost:hover,
.acButton.outlined:-webkit-any-link:hover,
.acButton.ghost:-webkit-any-link:hover,
.acButton.outlined:-webkit-any-link:focus,
.acButton.ghost:-webkit-any-link:focus {
  background-color: var(--color-primary-ghost);
}

/* Focused Button */
.acButton:focus-visible,
.acButton:-webkit-any-link:focus,
.acButton:-moz-any-link:focus,
.acButton:-moz-focusring {
  outline: 2px solid var(--color-accent-main);
}

/* Contained Button Active */
.acButton.contained:-webkit-any-link:active,
.acButton.contained:-webkit-any-link:-moz-focusring,
.acButton.contained:-moz-focusring,
.acButton.contained:-moz-focusring:-moz-any-link,
.acButton.contained:active {
  background-color: var(--color-primary-dark);
  box-shadow: none;
}

/* Outlined Button Active */
.acButton.outlined:active,
.acButton.ghost:active,
.acButton.outlined:-webkit-any-link:active,
.acButton.ghost:-webkit-any-link:active,
.acButton.outlined:-webkit-any-link:-moz-focusring,
.acButton.ghost:-webkit-any-link:-moz-focusring,
.acButton.outlined:-moz-focusring,
.acButton.ghost:-moz-focusring,
.acButton.outlined:-moz-focusring:-moz-any-link,
.acButton.ghost:-moz-focusring:-moz-any-link {
  background-color: var(--color-primary-light);
}

/* Variants */

.acButton.contained {
  background-color: var(--color-primary-main);
}

.acButton.outlined {
  background-color: transparent;
  border: 2px solid var(--color-primary-main);
  box-shadow: none;
  -webkit-box-shadow: none; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-box-shadow: none; /* Prefijo para Mozilla (Firefox antiguo) */
  -o-box-shadow: none; /* Prefijo para Opera (Opera antiguo) */
  box-shadow: none; /* Restablece el valor sin prefijo */
}

.acButton.text {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

.acButton.link {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
  -webkit-text-decoration: underline; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  text-decoration: underline; /* Restablece el valor sin prefijo */
}

.acButton.ghost {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.acButton.iconButton,
.acButton.loading.iconButton figure {
  padding: 0 !important;
  margin: 0 !important;
  -webkit-padding: 0 !important; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-padding: 0 !important; /* Prefijo para Mozilla (Firefox antiguo) */
  -o-padding: 0 !important; /* Prefijo para Opera (Opera antiguo) */
}

.acButton.contained.disabled,
.acButton.iconButton.disabled {
  background: var(--color-disabled-bg);
  color: var(--color-disabled-text);
  border: none;
  pointer-events: none;
  box-shadow: none;
  -webkit-box-shadow: none; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-box-shadow: none; /* Prefijo para Mozilla (Firefox antiguo) */
  -o-box-shadow: none; /* Prefijo para Opera (Opera antiguo) */
}

.acButton.outlined.disabled {
  color: var(--color-disabled-text);
  border-color: var(--color-disabled-bg);
  pointer-events: none;
  box-shadow: none;
  -webkit-box-shadow: none; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-box-shadow: none; /* Prefijo para Mozilla (Firefox antiguo) */
  -o-box-shadow: none; /* Prefijo para Opera (Opera antiguo) */
}

.acButton.text.disabled,
.acButton.ghost.disabled,
.acButton.link.disabled {
  color: var(--color-disabled-text);
  border: none;
  border-radius: none;
  pointer-events: none;
  box-shadow: none;
  text-decoration: none;
  -webkit-text-decoration: none; /* Prefijo para WebKit (Safari y Chrome antiguos) */
}

/* Loading Button */

.acButton .acIcon.acButton-loadingIcon {
  opacity: 0;
  margin-right: var(--size-8);
  margin-right: 0;
  margin-left: -20px;
  -webkit-margin-right: var(--size-8); /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-margin-right: var(--size-8); /* Prefijo para Mozilla (Firefox antiguo) */
  -webkit-margin-left: -20px; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-margin-left: -20px; /* Prefijo para Mozilla (Firefox antiguo) */
  transition:
    margin-right 0.2s ease,
    margin-left 0.2s ease,
    opacity 0.1s ease;
  -webkit-transition:
    margin-right 0.2s ease,
    margin-left 0.2s ease,
    opacity 0.1s ease; /* Prefijo para WebKit (Safari y Chrome antiguos) */
}

.acButton.sizeSm .acIcon.acButton-loadingIcon {
  -webkit-margin-right: 0; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-margin-right: 0; /* Prefijo para Mozilla (Firefox antiguo) */
  margin-right: 0;
}

.acButton.sizeMd .acIcon.acButton-loadingIcon {
  -webkit-margin-right: -4px; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-margin-right: -4px; /* Prefijo para Mozilla (Firefox antiguo) */
  margin-right: -4px;
}

.acButton.sizeLg .acIcon.acButton-loadingIcon {
  -webkit-margin-right: -8px; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-margin-right: -8px; /* Prefijo para Mozilla (Firefox antiguo) */
  margin-right: -8px;
}

.acButton.loading .acIcon.acButton-loadingIcon {
  -webkit-animation: rotate 1.5s linear infinite; /* Prefijo para WebKit (Safari y Chrome antiguos) */
  -moz-animation: rotate 1.5s linear infinite; /* Prefijo para Mozilla (Firefox antiguo) */
  animation: rotate 1.5s linear infinite;
}

.acButton.loading .acIcon.acButton-loadingIcon.active {
  opacity: 1;
  margin-right: var(--size-8);
  margin-left: 0;
  transition:
    margin-right 0.3s ease,
    margin-left 0.3s ease,
    opacity 0.3s ease;
  -webkit-transition:
    margin-right 0.3s ease,
    margin-left 0.3s ease,
    opacity 0.3s ease; /* Prefijo para WebKit (Safari y Chrome antiguos) */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
