.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 80px;
  position: relative;
}

.resetBtn {
  position: absolute;
  right: 0;
}

.inputGroup .inputAction {
  position: absolute;
  right: 0;
}

.inputGroup .prefix {
  position: absolute;
  left: 0.5rem;
}

.inputGroup .inputAction.disableAction {
  pointer-events: none;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.inputField .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputFieldLabel.hideLabel {
  visibility: hidden;
}

.acInput {
  box-sizing: border-box;
  color: var(--color-primary-text);
  border-radius: var(--size-4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.resetBtn .acButton-loadingIcon {
  display: none;
  visibility: hidden;
}

/* Labels */

.inputGroup label.sizeSm {
  font-size: var(--size-12);
  line-height: var(--size-20);
}

.inputGroup label.sizeMd {
  font-size: var(--size-14);
  line-height: var(--size-24);
}

.inputGroup label.sizeLg {
  font-size: var(--size-16);
  line-height: var(--size-28);
}

/* Size SM */

.acInput.sizeSm {
  font-size: var(--size-14);
  line-height: var(--size-20);
  height: var(--size-40);
  padding: 0 var(--size-8);
}

.acInput.sizeSm.adjustRightPadding {
  padding-left: var(--size-8);
  padding-right: var(--size-28);
}

.acInput.sizeSm.adjustLeftPadding {
  padding-left: var(--size-24);
}

.inputField.sizeSm .resetBtn.radiusFull {
  margin-right: var(--size-4) !important;
}

/* Size MD */

.acInput.sizeMd {
  font-size: var(--size-16);
  line-height: var(--size-24);
  height: var(--size-48);
  padding: 0 var(--size-10);
}

.acInput.sizeMd.adjustRightPadding,
.acInput.sizeMd.radiusFull.adjustRightPadding {
  padding-left: var(--size-10);
  padding-right: var(--size-32);
}

.acInput.sizeMd.adjustLeftPadding,
.acInput.sizeMd.radiusFull.adjustLeftPadding {
  padding-left: var(--size-24);
}

.inputField.sizeMd .resetBtn.radiusFull {
  margin-right: var(--size-4) !important;
}

/* Size LG */

.acInput.sizeLg {
  font-size: var(--size-18);
  line-height: var(--size-28);
  height: var(--size-56);
  padding: 0 var(--size-12);
}

.acInput.sizeLg.adjustRightPadding {
  padding-left: var(--size-12);
  padding-right: var(--size-32);
}

.acInput.sizeLg.adjustLeftPadding {
  padding-left: var(--size-24);
}

.inputField.sizeLg .resetBtn.radiusFull {
  margin-right: var(--size-4) !important;
}

/* Size with radius full */

.acInput.sizeSm.radiusFull {
  padding: 0 var(--size-14);
}

.acInput.sizeMd.radiusFull {
  padding: 0 var(--size-16);
}

.acInput.sizeLg.radiusFull {
  padding: 0 var(--size-18);
}

/* Variants */

.acInput.contained {
  background-color: var(--color-white);
  border: none;
}

.acInput.contained:hover {
  background-color: var(--color-accent-hover);
  transition: var(--transition-main);
}

.acInput.contained:focus,
.acInput.contained:active {
  background-color: var(--color-accent-hover);
  box-shadow: none;
}

.acInput.outlined {
  background-color: transparent;
  border: 2px solid var(--color-primary-main);
  box-shadow: none;
}

.acInput.text {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

.acInput.underline {
  border-bottom: 1px solid var(--color-primary-dark);
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.acInput.shadow {
  background-color: #ffffff;
  box-shadow: var(--elevation-1);
  border: none;
  transition: var(--transition-main);
}

.acInput.disabled {
  background-color: var(--color-disabled-bg);
  color: var(--color-disabled-text);
  pointer-events: none;
  box-shadow: none;
}

/* effects */

.acInput.outlined:hover {
  background-color: var(--color-primary-ghost);
}

.acInput.shadow:hover {
  box-shadow: none;
  background-color: var(--color-white);
}

.acInput.underline:active {
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary-dark);
}

.acInput:focus {
  transition: var(--transition-soft);
}

.acInput:focus-visible {
  outline: 2px solid var(--color-accent-main);
}

.inputGroup:focus-within label {
  color: var(--color-accent-main);
}

.inputGroup .inputAction:focus-within label {
  color: var(--color-black);
}

.acInput::placeholder {
  color: var(--color-disabled-text);
}

/* States */

/* Success */

.inputGroup:focus-within label.success {
  color: var(--color-success);
}

.inputFieldLabel.success {
  color: var(--color-success);
}

.acInput.success,
.acInput.success:focus {
  border: 2px solid var(--color-success);
}

.acInput.success {
  color: var(--color-success);
}

/* Error */

.inputGroup:focus-within label.error {
  color: var(--color-error);
}

.inputFieldLabel.error {
  color: var(--color-error);
}

.acInput.error,
.acInput.error:focus {
  border: 2px solid var(--color-error);
}

.acInput.error {
  color: var(--color-error);
}

/* Info */

.inputGroup:focus-within label.info {
  color: var(--color-info);
}

.inputFieldLabel.info {
  color: var(--color-info);
}

.acInput.info,
.acInput.info:focus {
  border: 2px solid var(--color-info);
}

.acInput.info {
  color: var(--color-info);
}

/* Warning */

.inputGroup:focus-within label.warning {
  color: var(--color-warning);
}

.inputFieldLabel.warning {
  color: var(--color-warning);
}

.acInput.warning,
.acInput.warning:focus {
  border: 2px solid var(--color-warning);
}

.acInput.warning {
  color: var(--color-warning);
}
